<!-- <nav>
    <div class="logo">
      <a routerLink="/">Logo</a>
    </div>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav> -->
  

<section id="home">
    <div class="home container">
        <!-- <img src="https://tse1.mm.bing.net/th?id=OIP.5bRaHgfOfxNIGpQmaYXVFAHaEo&pid=Api&P=0&h=220" alt=""> -->
        <div class="col-right">      
            <h1>UpScale your Selfies</h1>
            <p>Transform your photos with just one touch! Elevate your images effortlessly as our cutting-edge AI technology brightens, smoothens, and enhances your natural beauty. In mere seconds, experience a photo upgrade with our all-in-one upscale tool, highlighting your favorite features for a radiant and polished look. Level up your selfies and unleash the power of professional-grade enhancement at your fingertips.“)</p>
        </div>
    </div>
</section>