@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-page-container {
    display: flex;
  }

 .login-container {
    width: 50%;
    height: 100vh;
    padding-top: 18%; 
    box-sizing: border-box;
  }

  .login-container form, h2 {
    padding: 10px;
    max-width: 300px;
    margin: 0 auto; 
  }


  .login-container label {
    display: block;
    margin-bottom: 10px;
  }

  .login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .login-container button:hover {
    background-color: #0056b3;
  } 
  
  #hero {
    position: relative;
    z-index: 1;
    width: 50%; 
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    background-image: url('https://gael7.github.io/assets/images/background1.jpg');
    background-size: auto;
    background-position: top center;
  }
  
  #hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
  }
  
  #hero .hero {
    max-width: 600px; 
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
  }
  
  #hero h1 {
    display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
  }
  
  #hero h1:nth-child(1) {
    animation-delay: 1s;
  }
  
  #hero h1:nth-child(2) {
    animation-delay: 2s;
  }
  
  #hero h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
  }
  
  #hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
  }
  
  #hero h1:nth-child(1) span {
    animation-delay: 0.5s;
  }
  
  #hero h1:nth-child(2) span {
    animation-delay: 1.5s;
  }
  
  #hero h1:nth-child(3) span {
    animation-delay: 2.5s;
  }
  

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
