<div class="login-page-container">
    <!-- Revitalize your photos effortlessly with our one-touch AI upscaling tool. -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Revitalize your photos <span></span></h1>
                <h1>effortlessly with our<span></span></h1>
                <h1>AI upscaling tool <span></span></h1>
                <!-- <a href="#projects" type="button" class="cta">Portfolio</a> -->
            </div>
        </div>
    </section>
    
  
    <div class="login-container">
      <h2>Login</h2>
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
  
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
  
        <button type="submit">Login</button>
      </form>
    </div>

</div>
  
