<div class="SignUp-page-container">
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Revitalize your photos <span></span></h1>
                <h1>effortlessly with our<span></span></h1>
                <h1>AI upscaling tool <span></span></h1>
            </div>
        </div>
    </section>
    
  
    <div class="SignUp-container">
      <h2>Sign Up</h2>
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
  
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="retypePassword">Password:</label>
        <input type="password" id="retypePassword" name="password">
  
        <button type="submit">Sign Up</button>
      </form>
    </div>

</div>